$colores:
    #F95E48, /*1*/
    #7585E2, /*2*/
    #264C3C, /*3*/
    #D9F672, /*4*/
    #F5F5F5, /*5*/
    #FCFAEF, /*6*/
    #C1CCF7, /*7*/
    #FCFAEF, /*8*/
    #ECD5D1, /*9*/
    black;   /*10*/

$tamaño-fuente:
0.50rem, /*1*/
0.75rem, /*2*/
1rem,    /*3*/
2rem,    /*4*/
3rem,    /*5*/
4rem,    /*6*/
1.5rem,  /*7*/
2.5rem;   /*8*/

$colores-fuente: 
#7585E2,
#000000,
#FCFAEF,
#DF6828,
#C1CCF7,
#D9F672;
