/*HAMBURGUESA*/
%hamburguesa {

#hamburguesa {
    width: 95%;
    padding: 2vh 0vw;
    nav {
        .navbar {
            width: 100%;
            box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
            .container {
                width: 100%;
                margin: auto;
            }}}}
#hamburguesa {
    nav {
        .navbar {
            .nav-container {
                display: block;
                position: relative;
                height: 60px;
                .logo {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    font-size: 1.2rem;
                    width: 75%;
                }}}}}
#hamburguesa {
    nav {
        .navbar {
            .nav-container {
                display: block;
                position: relative;
                height: 60px;
                .menu-items {
                    display: flex;
                }}}}}
#hamburguesa {
    nav {
        .navbar {
            div {
                .menu-items {
                    li {
                        margin-bottom: 1.2rem;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }}}}}
#hamburguesa {
    nav {
        .navbar {
            .nav-container {
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color:#F5F5F5;
                        font-weight: 500;
                        font-size: 1.2rem;
                        padding: 0.7rem;
                        &:hover {
                            font-weight: bolder;
                        }}}}}}}}
#hamburguesa {
    nav {
        .navbar {
            .nav-container {
                .hamburger-lines {
                    display: block;
                    height: 26px;
                    width: 32px;
                    position: relative;
                    top: 17px;
                    left: 20px;
                    z-index: 4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    span {
                        display: block;
                        height: 4px;
                        width: 100%;
                        border-radius: 10px;
                        background: #0e2431;
                    }}}}}}
.navbar .menu-items {
    padding-top: 60px;
    height: 80vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: left;
    background-color: #7585E2;
    z-index: 3;
}
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
