%boton {
    background-color:#C1CCF7;
    border: solid 2px #7585E2;
    border-radius: 8px;
    text-decoration:none;
    font-weight: 600;
    font-size: 1rem;
    color: #7585E2;
    padding: 10px 40px 10px 40px;
    border-color:#7585E2;
    border-width: 3px;
    border-radius:35px;
}